{% extends 'base.html' %}
{% block title %}Forgot Your Password{% endblock %}
{% load static%}

{% block content %}
<div class="loginDiv">
    <form method="POST" class="formLogin" style="background-image: url({% static 'images/Sea Blizz.jpg'%});">
        <h2>Forgot your password</h2>
        <p>Enter your email address below, and we'll email instructions to you </p>
        {%csrf_token%}
        {{ form.as_p }}
        <button type="submit" class="button">Reset</button>
    </form>
</div>
{% endblock %}